/*Archivo para poner diseño a la pagina web*/

h1{
    color: antiquewhite;
    text-align: center;
}

body{
    background-color: darkcyan;
}

img{
    width: 300px;  
    height: auto;  
    text-align: center;  
    padding: 15px;
}

.grid-container{
  display: grid;
  grid-template-columns:auto auto auto ;
  padding: 10px;
}

.grid-item{
  background-color: aquamarine;
  border: 1px solid black;
  padding: 25px;
  font-size: 14px;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:barraArriba:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

p{
  text-align: center;
  background-color: coral;
  width: 80%;
}