/*Archivo para poner diseño a la pagina web*/

html body{
  margin: 0;
  padding: 0;
}


h1{
    color: antiquewhite;
    text-align: center;
}

#fotoInicio {
  background-image: url('./img/fondoPantalla/fondoInicio.jpg');
  height: 100vh;
  background-size: cover;
}

.cochesVenta img {
  text-align: center;
    background-color: coral;
    width: 300px;
}

.inicio img{
    width: 300px;
    text-align: center;
    padding: 10px;
    object-fit: cover;
}

.grid-container{
  display: grid;
  grid-template-columns:auto auto auto ;
  padding: 10px;
  grid-gap: 50px;
  text-align: center;
}

.grid-item{
  padding: 25px;
  font-size: 14px;
}

/*Barra Navegadora*/
ul {
  list-style-type: none;
  
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px; 
  text-decoration: none;
}

/*Boton a la derecha del todo*/
.active {
  background-color: #04AA6D;
}
